<h1>Coaching#ask</h1>
<p>Find me in app/views/coaching/ask.html.erb</p>
<form action="/coaching/answer">
  <input type="text" name="query" placeholder="type your question">
  <input type="submit">
</form>


